page-home {
  .weatherBox {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    display: flex;
    justify-content: space-between;
    color: color($colors, text);

    .flex {
      display: flex;
      align-items: center;

      .pin {
        margin-right: 5px;
      }
      .city {
        margin-right: 7px;
        display: inline-block;
        font-size: 20px;
      }
      .sun {
        margin-right: 7px;
      }
      .temp {
        margin-right: 3px;
      }
      .tempNumber {
        font-size: 15px;
      }
    }
    .cam {
      height: 40px;
    }
    img {
      height: 25px;
    }
  }
  .GardenContent {
    padding-top: 0px !important;
    color: color($colors, text);
  }

  .gardenBox {
    background-image: linear-gradient(to right, #DEDDDD 33%, rgba(222,221,221,0) 0%);
    background-position: bottom;
    background-size: 11px 1px;
    background-repeat: repeat-x;


    text-align: center;
    padding: 5px;
    img {
      height: 60px;
      margin: 5px 0px;
    }

    img.icon {
      width: 40px;
      height: 40px;
      margin: 22px 0px;
    }
  }

  .dotbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px 7px 3px 3px;
    .dot {
      display: inline-block;
      width: 9px;
      height: 9px;
      border: 1px solid color($colors, primary);
      border-radius: 50%;
    }
    .full {
      background-color: color($colors, primary);
    }
  }

  .recoltes {
    color: color($colors, text);
    ion-list-header {
      font-weight: bold;
      font-size: 1.1em;
    }
    ion-item {
      font-size: 14px;
      ion-label {
        display: flex;
        align-items: center;
        margin:0px;
        padding-left: 10px;
      }

      .period {
        margin-right: 5px;
      }

      span {
        display: inline-block;
      }

      img {
        width: 30px;
      }
    }
  }
}
