<ion-header>
  <ion-navbar text-center>
    <img class='brand-logo' src="../../assets/icon/PEPINO.png" alt="">
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="weatherBox" padding>
    <div class="flex">
      <img class="pin" src="../../assets/imgs/pin.png" alt="">
      <span class="city">{{weatherInfo.cityName}}</span>
      <img class="sun" src="../../assets/imgs/sun.png" alt="">
      <img class="temp" src="../../assets/imgs/temp.png" alt="">
      <span class="tempNumber">{{weatherInfo.temp}}°</span>
    </div>
    <div class="">
      <img class="cam" src="../../assets/imgs/cam.png" alt="">
    </div>
  </div>
  <ion-grid class="GardenContent" padding>
    <ion-row>
      <ion-col class="gardenBox" col-3 *ngFor="let vegetable of garden">
        <img [ngClass]="{'icon': vegetable.step == null}" class='legume' src="../../assets/imgs/{{vegetable.vegetable}}.png" alt="">
        <div class="dotbox" *ngIf="vegetable.step != null">
          <ng-container *ngFor="let i of numbers; let index = index">
            <span class="dot" [ngClass]="{'full': index < vegetable.step}"></span>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="recoltes" no-lines>
    <ion-list-header class="recolte-title" uppercase>
      Mes prochaines récoltes :
    </ion-list-header>
    <ion-item class="recolte-item">
      <div class="period">Dans 1 jour :</div>
      <div><img class='legume' src="../../assets/imgs/tomate.png" alt=""></div>
      <div><img class='legume' src="../../assets/imgs/tomate.png" alt=""></div>
      <div><img class='legume' src="../../assets/imgs/tomate.png" alt=""></div>
      <div><img class='legume' src="../../assets/imgs/tomate.png" alt=""></div>
    </ion-item>
    <ion-item class="recolte-item">
      <div class="period">Dans 10 jours :</div>
      <div><img class='legume' src="../../assets/imgs/carotte.png" alt=""></div>
      <div><img class='legume' src="../../assets/imgs/carotte.png" alt=""></div>
      <div><img class='legume' src="../../assets/imgs/carotte.png" alt=""></div>
    </ion-item>
    <ion-item class="recolte-item">
      <div class="period">Dans 15 jours :</div>
      <div><img class='legume' src="../../assets/imgs/salade.png" alt=""></div>
      <div><img class='legume' src="../../assets/imgs/salade.png" alt=""></div>
      <div><img class='legume' src="../../assets/imgs/salade.png" alt=""></div>
    </ion-item>
  </ion-list>
</ion-content>
