<!-- Generated template for the PinComponent component -->
<div>
  {{text}}

  <!-- <svg viewBox="0 0 8.96 19.25">
    <defs>
      <style>
        .cls-1{
          fill:none;
          stroke:#5a5754;
          stroke-linecap:round;
          stroke-miterlimit:10;
          stroke-width:2px;
        }
        .cls-2{
          fill:#c6d340;
        }
        .cls-3{
          fill:#e3e881;
        }
      </style>
    </defs>
    <line class="cls-1" x1="4.48" y1="8.96" x2="4.48" y2="18.25"/>
    <circle class="cls-2" cx="4.48" cy="4.48" r="4.48"/>
    <circle class="cls-3" cx="2.88" cy="2.64" r="0.96"/>
  </svg> -->
</div>
