page-offers {
  .toolbar-title-ios {
    text-transform: uppercase;
    color: color($colors, text);
  }
  .selectText {
    text-align: center;
    font-size: 1.4em;
    margin-top: 15px;
    color: color($colors, text);
  }
  .offersBox {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    .offer {
      border-radius: 15px;
      border: 2px solid color($colors, text);
      width: 100%;
      text-align: center;
      display: flex;
      align-items: stretch;
      margin-top: 7px;
      margin-bottom: 7px;

      .offerHeader {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-right: 2px solid color($colors, text);
        width: 60px;
        img {
          width: 50%;
        }
      }
      .offerContent {
        text-align: center;
        color: color($colors, text);
        padding: 15px;
        padding-bottom: 5px;
        width: 100%;

        h3 {
          font-size: 1em;
        }
        .line {
          display: flex;
          justify-content: space-around;
          p {
            margin: 0px;
          }
        }
        .iconBox {
          display: flex;
          align-items: center;
        }
        .offerIcon {
          width: 15px !important;
          margin-right: 5px;
        }
        .priceBox {
          margin-bottom: 0px;
          padding-bottom: 0px;

          .price {
            color: color($colors, primary);
            font-size: 2.6em;
            margin-right: 5px;
          }
        }
        .sale {
          color: color($colors, primary);
          position: relative;
          margin: 0px;
          bottom: -46px;
          right: -100px;
        }
      }
    }
    .offer1 {
      img {
        width: 24% !important;
      }
    }

    .selected {
      border: 4px solid color($colors, primary);
      .offerHeader {
        border-right: 2px solid color($colors, primary);
      }
    }
  }
  .buttonBox {
    margin-top: 40px;
    text-align: center;
  }
}
