page-account {

  .profileHeader {
    color: color($colors, text);
    display: flex;
    img.avatar {
      border-radius: 50%;
      border: 2px solid color($colors, primary);
      width: 100px;
      height: 100px;
    }

    .headerText {
      margin-left: 10px;
      .name {
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 1.1em;
      }
      .status {
        color: color($colors, primary);
        margin: 0px;
      }
      .city {
        margin-top: 5px;
        .pin {
          width: 7px;
        }
      }
    }
  }
  .settings {
    color: color($colors, text);
    ion-list-header {
      font-weight: bold;
      font-size: 1em;
      background-color: #ebebeb;
      color: color($colors, text);
    }
    button {
      font-size: 14px;
      padding: 10px 0px 10px 30px;
      color: color($colors, text);
    }
    .lines {
      background-image: linear-gradient(to right, #DEDDDD 33%, rgba(222,221,221,0) 0%);
      background-position: bottom;
      background-size: 11px 1px;
      background-repeat: repeat-x;
    }
  }
}
